<% title t("menu.service") %>
<DIV id="content">
  <DIV id="banner2">
    <h2><font face="Arial, Helvetica, sans-serif"><%=t "banner.title2"%></font></h2>
  </DIV>

  <DIV id="main-content">
    <!--main start1-->
    <DIV id="features" style="float:left;"><H3><%= t "service.t1" %> </H3>
      <div class="site_pic_list" style="float:right;width:500px;height:300px; position:relative;">
        <DIV style="padding:20px 16px;float:left;">
          <DIV id="site_17">
            <DIV id="redbox_17" style="display:none;"></DIV>
            <A href="http://www.aa-visa.com"><IMG alt="Ruby dev BBS" width="122px" src="images/portfolio/3.gif"></A>
          </DIV>
        </DIV>
        <DIV style="padding:20px 16px;float:left;">
          <DIV id="site_17">
            <DIV id="redbox_17" style="display:none;"></DIV>
            <A href="#"><IMG alt="Warren Rentals" width="122px" src="images/portfolio/4.gif"></A>
          </DIV>
        </DIV>
        <DIV style="padding:20px 16px;float:left;">
          <DIV id="site_17">
            <DIV id="redbox_17" style="display:none;"></DIV>
            <A href="#"><IMG alt="Warren Rentals" src="images/portfolio/5.gif"></A>
          </DIV>
        </DIV>
        <DIV style="padding:20px 16px;float:left;">
          <DIV id="site_17">
            <DIV id="redbox_17" style="display:none;"></DIV>
            <A href="#"><IMG alt="Warren Rentals" src="images/portfolio/6.gif"></A>
          </DIV>
        </DIV>
        <DIV style="padding:20px 16px;float:left;">
          <DIV id="site_17">
            <DIV id="redbox_17" style="display:none;"></DIV>
            <A href="#"><IMG alt="aa-visa" width="122px" src="images/portfolio/1.gif"></A>
          </DIV>
        </DIV>
        <DIV style="padding:20px 16px;float:left;">
          <DIV id="site_17">
            <DIV id="redbox_17" style="display:none;"></DIV>
            <A href="#"><IMG alt="Warren Rentals" src="images/portfolio/2.gif"></A>
          </DIV>
        </DIV>
      </div>
     <%= t "service.s1" %>
    </DIV>
    <!--main end 1-->
    <div style="">&nbsp;</div>
    <!--main start3-->
    <DIV id="features"><H3><%= t"service.t2"%> </H3><img src="images/ruby_components.png" alt="ruby components" width="420px"  align="right" />
      <p> <%= t "service.s2" %></p>
    </DIV>
    <!--main end 3-->
    <%= render :partial=>"layouts/advantage" %>
  </DIV>
