<DIV id="intro">
  <H3><%= t "index.title2"%> </H3>
  <DIV id="intro-part1">
    <H4><%= t "index.adt1" %> </H4>
    <P><%= t "index.add1" %> </P>
  </DIV>
  <DIV id="intro-part2">
    <H4><%= t "index.adt2" %></H4>
    <P><%= t "index.add2" %></P>
  </DIV>
</DIV>
